This test checks to see if the list of companaies extracted from yahoo finance matches the list of companies in the database

In [1]:
import pandas as pd

In [7]:
### read in csvs 

tickers_df = pd.read_csv('/Data/company_info.csv' , usecols=['Ticker'])

extracted_tickers = pd.read_csv('../Data_Scraping/stock_data/test_3.csv' , usecols=['Ticker'])

In [6]:
tickers_df.head()

  Ticker
0    MMM
1    AOS
2    ABT
3   ABBV
4    ACN

In [9]:
extracted_tickers.head()

  Ticker
0    ABT
1    AOS
2   ADBE
3    MMM
4    ADP

In [18]:
## Create Set of companies tickers

tickers_list_set = set(tickers_df['Ticker'])

print(tickers_list_set)

{'SYK', 'VICI', 'ED', 'JKHY', 'EA', 'HPQ', 'TEL', 'SPG', 'ES', 'HII', 'HSIC', 'ETR', 'FTNT', 'HBAN', 'MTB', 'EFX', 'PKI', 'AMD', 'GOOGL', 'MSFT', 'AMT', 'IP', 'PEAK', 'AAP', 'AVGO', 'IFF', 'MPC', 'JPM', 'EL', 'WBD', 'WBA', 'NOC', 'BMY', 'MMM', 'NDAQ', 'TSCO', 'LOW', 'EW', 'ROP', 'BF.B', 'MTD', 'CCL', 'MCD', 'FCX', 'QRVO', 'CNC', 'CLX', 'DLR', 'VZ', 'MHK', 'CFG', 'SO', 'ODFL', 'GPC', 'MMC', 'TYL', 'DFS', 'UNP', 'MAS', 'ATVI', 'AME', 'SEE', 'EIX', 'ZION', 'SEDG', 'ULTA', 'HRL', 'TXN', 'LMT', 'IPG', 'GM', 'TTWO', 'ALLE', 'PG', 'MRK', 'LH', 'ITW', 'INVH', 'UHS', 'CPB', 'MNST', 'KHC', 'ZTS', 'CL', 'UDR', 'RHI', 'CHD', 'CNP', 'PARA', 'PEP', 'PTC', 'WST', 'PAYX', 'DRI', 'FITB', 'SBUX', 'FICO', 'LLY', 'ADBE', 'HWM', 'GNRC', 'APTV', 'NXPI', 'PLD', 'MDT', 'EXR', 'FLT', 'ORLY', 'SNA', 'RJF', 'CF', 'VRSN', 'HIG', 'VRTX', 'NTRS', 'WFC', 'EMN', 'GOOG', 'ETN', 'LIN', 'NFLX', 'EBAY', 'IDXX', 'WM', 'ON', 'IQV', 'MRO', 'JNPR', 'D', 'BEN', 'SWK', 'MCHP', 'GEHC', 'NDSN', 'NUE', 'WDC', 'CVS', 'REG', 'DUK', 'CMI', 'DISH', 'MAA', 'AMP', 'ALK', 'AAPL', 'ETSY', 'TSN', 'COF', 'CE', 'TJX', 'WY', 'FDX', 'META', 'GLW', 'PPG', 'RCL', 'TDG', 'NWL', 'CTLT', 'APD', 'KMB', 'APH', 'RF', 'SJM', 'ZBH', 'HES', 'GPN', 'EOG', 'SLB', 'AVB', 'GILD', 'MDLZ', 'TROW', 'DG', 'RMD', 'CDNS', 'ADSK', 'HUM', 'AJG', 'SRE', 'DVN', 'CARR', 'CMCSA', 'HAS', 'COP', 'TMO', 'PEG', 'BALL', 'EMR', 'SCHW', 'BR', 'TFX', 'PPL', 'BSX', 'AMGN', 'BG', 'CMA', 'QCOM', 'USB', 'VFC', 'C', 'SPGI', 'SBAC', 'VTRS', 'O', 'FE', 'PCG', 'EVRG', 'STT', 'WEC', 'MGM', 'RTX', 'CTVA', 'TAP', 'KMI', 'MOH', 'FRT', 'PSA', 'GWW', 'JBHT', 'CBRE', 'TGT', 'FFIV', 'HPE', 'MRNA', 'FANG', 'SYY', 'AMAT', 'CB', 'CVX', 'CPRT', 'CSCO', 'INCY', 'BA', 'DAL', 'HOLX', 'K', 'CEG', 'DOW', 'PAYC', 'CRL', 'LW', 'PODD', 'NTAP', 'NWSA', 'WHR', 'SWKS', 'TRMB', 'TDY', 'MKC', 'TXT', 'ESS', 'ALB', 'VTR', 'ROST', 'MCK', 'ATO', 'NWS', 'DXCM', 'L', 'ALL', 'EQR', 'CMG', 'JCI', 'WMT', 'WRB', 'PWR', 'ADM', 'NEE', 'KDP', 'MA', 'DLTR', 'CSX', 'BRO', 'LRCX', 'IVZ', 'STX', 'TT', 'PNR', 'V', 'FTV', 'AXON', 'CMS', 'MS', 'ISRG', 'AIZ', 'WAB', 'CRM', 'LYB', 'AON', 'INTU', 'NKE', 'LKQ', 'ORCL', 'NOW', 'FOXA', 'CTRA', 'XOM', 'AFL', 'CBOE', 'RL', 'TRV', 'AES', 'CI', 'CTSH', 'PFE', 'MOS', 'HAL', 'PRU', 'PNC', 'CTAS', 'UAL', 'ACN', 'TECH', 'KO', 'CME', 'AZO', 'TER', 'LNC', 'HLT', 'MKTX', 'LUV', 'PHM', 'F', 'HCA', 'BLK', 'LVS', 'ADP', 'VLO', 'DPZ', 'KEYS', 'VRSK', 'GS', 'ABT', 'KEY', 'HSY', 'REGN', 'WAT', 'ARE', 'GD', 'GE', 'LEN', 'HON', 'EXC', 'MSI', 'URI', 'OTIS', 'IEX', 'TRGP', 'EXPE', 'FIS', 'AMCR', 'IRM', 'DHI', 'STZ', 'WYNN', 'EQT', 'J', 'CSGP', 'FMC', 'POOL', 'NCLH', 'PSX', 'ILMN', 'WTW', 'ROL', 'APA', 'MAR', 'STE', 'TFC', 'PNW', 'WMB', 'LDOS', 'AEE', 'BBWI', 'AKAM', 'RE', 'MO', 'PGR', 'EQIX', 'BAC', 'STLD', 'DGX', 'ABBV', 'HD', 'KR', 'FDS', 'ROK', 'MU', 'MTCH', 'LNT', 'BIIB', 'IT', 'ADI', 'AIG', 'NVDA', 'SYF', 'AEP', 'AXP', 'FISV', 'OGN', 'FSLR', 'GL', 'SNPS', 'AVY', 'DOV', 'CAT', 'BRK.B', 'HST', 'TSLA', 'T', 'ALGN', 'AMZN', 'DD', 'JNJ', 'WRK', 'MCO', 'DE', 'GEN', 'FOX', 'NEM', 'PYPL', 'CDW', 'ABC', 'OXY', 'SHW', 'MET', 'LHX', 'PCAR', 'AAL', 'BBY', 'BWA', 'PFG', 'YUM', 'UNH', 'ANSS', 'DTE', 'AWK', 'MLM', 'BKR', 'BXP', 'DHR', 'FAST', 'PH', 'VMC', 'CPT', 'CHTR', 'KLAC', 'ANET', 'ENPH', 'A', 'DVA', 'TPR', 'TMUS', 'CHRW', 'NI', 'CZR', 'GRMN', 'CINF', 'XRAY', 'COST', 'PXD', 'BIO', 'ACGL', 'IR', 'COO', 'KIM', 'XEL', 'ICE', 'XYL', 'BKNG', 'EPAM', 'BDX', 'OMC', 'PM', 'WELL', 'MSCI', 'KMX', 'CDAY', 'BAX', 'BK', 'INTC', 'DIS', 'RSG', 'CAG', 'CCI', 'ZBRA', 'UPS', 'AOS', 'NVR', 'CAH', 'MPWR', 'ELV', 'OKE', 'DXC', 'NSC', 'NRG', 'GIS', 'ECL', 'LYV', 'PKG', 'IBM', 'EXPD'}

In [20]:
## Create set of extracted tickers 

extracted_tickers_set = set(extracted_tickers['Ticker'])

extracted_tickers

    Ticker
0      ABT
1      AOS
2     ADBE
3      MMM
4      ADP
..     ...
494    ZTS
495    XYL
496    XEL
497    YUM
498   ZION

[499 rows x 1 columns]

In [21]:
## use set operations to find tickers not shared between two lists 
tickers_list_set.difference(extracted_tickers_set)

{'ADM', 'ALB', 'BF.B', 'BRK.B'}

In [22]:
extracted_tickers_set.difference(tickers_list_set)

set()